Source: ros-lunar-vrpn-client-ros
Section: misc
Priority: extra
Maintainer: Paul Bovbel <pbovbel@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-lunar-catkin, ros-lunar-geometry-msgs, ros-lunar-roscpp, ros-lunar-roslaunch, ros-lunar-roslint, ros-lunar-tf2-ros, ros-lunar-vrpn
Homepage: 
Standards-Version: 3.9.2

Package: ros-lunar-vrpn-client-ros
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-lunar-geometry-msgs, ros-lunar-roscpp, ros-lunar-tf2-ros, ros-lunar-vrpn
Description: ROS client nodes for the VRPN library, compatible with VICON, OptiTrack, and other hardware interfaces.
